<div class="wrapper">
    <div class="rotate-landscape">
        <div class="icon"></div>
    </div>
    <div class="rotate-portrait">
        <div class="icon"></div>
    </div>
    <!-- <img class="music_bt" src="assets/images/music_k.png" alt=""> -->
    <!-- <img class="ob" src="assets/images/yinpian1/ob.png" alt=""> -->
</div>