<div class="wrapper">
    <div class="ratio-fix">
        <!--首页-->
        <div class="end">
            <!-- 场景1 -->
            <div class="scene1">
                <!-- 背景 -->
                <img class="bg" src="assets/images/end/bg.png">
                <!-- 主人和狗 -->
                <div class="scene1-1">
                    <img class="dog dog1" src="assets/images/end/dog1.png">
                    <img class="eyes" src="assets/images/end/eyes.png">
                </div>
                <img class="dog dog2" src="assets/images/end/dog2.png">
                <!-- 对话 -->
                <img class="dialog" src="assets/images/end/dialog1.png">
            </div>
            <!-- 场景2 -->
            <div class="scene2">
                <img class="photo" src="assets/images/end/photo1.png">
                <img class="button" src="assets/images/end/button.png">
            </div>
        </div>
    </div>
</div>