<div class="wrapper">
    <div class="ratio-fix">
        <div class="gou">

            <img class="bg" src="assets/images/gou/bg.png" alt="">

            <div class="loaddiv">

            </div>
            <img class="loadgif" src="assets/images/load.gif">

            <!-- <div class="Bg"></div> -->
            <!-- <img class="kaichangBtn" src="assets/images/yinpian1/kaichangBtn.png" alt=""> -->
            <!-- <img class="huodongxize" src="assets/images/ren/huodongxize.png" alt=""> -->
            <!-- <div class="divPic2"></div> -->
            <img class="divPic1" src="assets/images/ren/camera.png" alt="">
            <img class="divPic2" src="assets/images/ren/ok.png" alt="">
            <img class="next" src="assets/images/gou/next.png" alt="">
            <img class="gouhua" src="assets/images/gou/gouhua.png" alt="">
            <!-- first upload bg -->
            <!-- <img class="addPicFather" src="assets/images/yinpian3/addPIc.png" alt=""> -->
            <img class="blackPic2" alt="">
            <!-- first upload button -->
            <!-- <div class="reupload2"></div> -->
            <form class="form1Upload" enctype="multipart/form-data" method="post" name="">
                <input type="file" id="file" accept="image/*" name="" />
                <!-- <input type="file" id="file2" accept="image/*" multiple="" name="" /> -->
            </form>

            <div style="position: absolute; width: 100%; height: 100%;top: 0%;">
                <div class="cav head1pic" id="gesture-area">
                    <div class="bb-container">
                        <div class="bb-container-div" style="width: 100%; height: 100%;"></div>
                    </div>
                    <img class="page2Bg" src="assets/images/gou/page2Bg1.png" alt="">
                </div>
            </div>

            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="assets/images/gou/jinmao.png" data-gou="jinmao" class="swiper-slide-img" alt=""></div>
                    <div class="swiper-slide"><img src="assets/images/gou/hashiqi.png" data-gou="hashiqi" class="swiper-slide-img" alt=""></div>
                    <div class="swiper-slide"><img src="assets/images/gou/chaiquan.png" data-gou="chaiquan" class="swiper-slide-img" alt=""></div>
                    <div class="swiper-slide"><img src="assets/images/gou/bage.png" data-gou="bage" class="swiper-slide-img" alt=""></div>
                    <div class="swiper-slide"><img src="assets/images/gou/keji.png" data-gou="keji" class="swiper-slide-img" alt=""></div>
                    <div class="swiper-slide"><img src="assets/images/gou/taidi.png" data-gou="taidi" class="swiper-slide-img" alt=""></div>
                </div>
                <!-- Add Arrows -->
            </div>
            <div class="swiper-button-next">
            </div>
            <div class="swiper-button-prev">
            </div>
        </div>
    </div>
</div>