<div class="wrapper">
    <div class="ratio-fix">
        <div class="haibao">
            <!-- <div class="Bg"></div> -->
            <!-- <img src="assets/images/haibao/page3_bg.png" alt=""> -->

            <!-- swiper -->
            <div class="dosing_swiper swiper-container">
                <div class="swiper-wrapper">
                    <div class="dosing_swiper_1 swiper-slide">
                        <img class="dosing_swiper_img" src="assets/images/haibao/p1.png" alt="">
                    </div>
                    <div class="dosing_swiper_2 swiper-slide">
                        <img class="dosing_swiper_img" src="assets/images/haibao/p2.png" alt="">
                    </div>
                    <div class="dosing_swiper_3 swiper-slide">
                        <img class="dosing_swiper_img" src="assets/images/haibao/p3.png" alt="">
                    </div>
                    <div class="dosing_swiper_4 swiper-slide">
                        <img class="dosing_swiper_img" src="assets/images/haibao/p4.png" alt="">
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
            <img class="bt" src="assets/images/haibao/bt.png" alt="">
            <img class="swip" src="assets/images/haibao/swip.png" alt="">
            <!-- <img class="P" src="assets/images/haibao/P.png" alt=""> -->
            <!-- <img class="bt1" src="assets/images/haibao/bt1_2.png" alt="">
            <img class="bt2" src="assets/images/haibao/bt2_2.png" alt="">
            <img class="bt3" src="assets/images/haibao/bt3_2.png" alt="">
            <img class="bt4" src="assets/images/haibao/bt4_2.png" alt=""> -->

            <!--
            <img class="bt1" src="assets/images/haibao/bt1_2.png" alt="">
            <img class="bt2" src="assets/images/haibao/bt2_2.png" alt="">
            <img class="bt3" src="assets/images/haibao/bt3_2.png" alt="">
            <img class="bt4" src="assets/images/haibao/bt4_2.png" alt="">
            <img class="P" src="assets/images/haibao/P.png" alt="">
            -->
        </div>
    </div>
</div>