<div class="wrapper">
    <div class="ratio-fix">
        <div class="home">
            <!-- logo -->
            <img class="logo" src="assets/images/home/logo.png">
            <!-- 影子 -->
            <img class="shadow" src="assets/images/home/shadow.png">
            <!-- 狗子 -->
            <img class="dog" src="assets/images/home/dog1.png">
            <!-- 对话 -->
            <img class="dialog" src="assets/images/home/dialog.png">
        </div>
    </div>
</div>