<div class="wrapper">
    <div class="ratio-fix">
        <div class="page2">
            <!-- 背景 -->
            <img class="bg" src="assets/images/page2/bg1.png">
            <!-- 门 -->
            <img class="door" src="assets/images/page2/door1.png">
            <!-- 狗子-->
            <!-- <img class="bg-dog" src="assets/images/page2/dog1.png" style="opacity: 0.3"> -->
            <img class="bg-dog" src="assets/images/page2/dog1.png">
            <!-- 思考 -->
            <div class="thinking">
                <!-- 对话气泡 -->
                <img class="bubble" src="assets/images/page2/bubble.png">
                <!-- 狗子方向 -->
                <img class="dog" src="assets/images/page2/dog-left1.png">
                <!-- 对话 -->
                <img class="dialog" src="assets/images/page2/dialog1.png">
            </div>
            <!-- 定格 -->
            <img class="close-up" src="assets/images/page2/close-up1.png">
            <!-- 跳过button -->
            <img class="skip" src="assets/images/arrow.png">
        </div>
    </div>
</div>