<div class="wrapper">
    <div class="ratio-fix">
        <div class="page3">
            <!-- 背影 -->
            <!-- <img class="shadow" src="assets/images/page3/girl-shadow.png"> -->
            <!-- 放大 -->
            <div class="scene1">
                <img class="girl-lg" src="assets/images/page3/girl-lg.png">
            </div>
            <div class="scene2">
                <img class="girl" src="assets/images/page3/lights1.png">
            </div>
            <!-- 跳过button -->
            <img class="skip" src="assets/images/arrow.png">
        </div>
    </div>
</div>