<div class="wrapper">
    <div class="ratio-fix">
        <div class="page5">
            <!-- 背景 -->
            <img class="bg" src="assets/images/page5/bg.png">
            <!-- 对话 -->
            <img class="dialog" src="assets/images/page5/dialog1.png">
            <!-- 女主人 -->
            <img class="girl" src="assets/images/page5/girl1.png">
            <!-- 手 -->
            <img class="hand" src="assets/images/page5/hand1.png">
            <!-- 跳过button -->
            <img class="skip" src="assets/images/arrow.png">
        </div>
    </div>
</div>