<div class="wrapper">
    <div class="ratio-fix">
        <div class="page6">
            <!-- 背景 -->
            <img class="bg" src="assets/images/page6/bg.png">
            <!-- 场景1 -->
            <div class="scene1">
                <!-- 狗尾巴 -->
                <img class="tail tail1" src="assets/images/page6/tail1.png">
                <!-- 狗子 -->
                <img class="dog dog1" src="assets/images/page6/dog1.png">
                <!-- 口水 -->
                <img class="saliva" src="assets/images/page6/saliva1.png">
                <!-- 狗爪 -->
                <img class="paw" src="assets/images/page6/paw1.png">
                <!-- 心 -->
                <img class="heart" src="assets/images/page6/heart1.png">
                <!-- 对话 -->
                <div class="dialog-wrapper dialog1">
                    <img class="dialog-bg dialog1-bg" src="assets/images/page6/dialog1-bg.png">
                    <img class="text1-1" src="assets/images/page6/text1-1.png">
                    <img class="text1-2" src="assets/images/page6/text1-2.png">
                    <img class="text1-3" src="assets/images/page6/text1-3.png">
                    <img class="text1-4" src="assets/images/page6/text1-4.png">
                    <img class="text1-5" src="assets/images/page6/text1-5.png">
                </div>
                <div class="dialog-wrapper dialog2">
                    <img class="dialog-bg dialog2-bg" src="assets/images/page6/dialog2-bg.png">
                    <img class="text2-1" src="assets/images/page6/text2-1.png">
                    <img class="text2-2" src="assets/images/page6/text2-2.png">
                    <img class="text2-3" src="assets/images/page6/text2-3.png">
                    <img class="text2-4" src="assets/images/page6/text2-4.png">
                    <img class="text2-5" src="assets/images/page6/text2-5.png">
                    <img class="text2-6" src="assets/images/page6/text2-6.png">
                </div>
                <!-- 手 -->
                <img class="hand hand1" src="assets/images/page6/hand1-1.png">
            </div>
            <!-- 场景2 -->
            <div class="scene2">
                <!-- 狗尾巴 -->
                <img class="tail tail2" src="assets/images/page6/tail1.png">
                <!-- 狗子 -->
                <img class="dog dog2" src="assets/images/page6/dog2.png">
                <!-- 眼睛 -->
                <img class="eyes" src="assets/images/page6/eye1.png">
                <!-- 对话 -->
                <div class="dialog-wrapper dialog3">
                    <img class="dialog-bg dialog3-bg" src="assets/images/page6/dialog3-bg.png">
                    <img class="text3-1" src="assets/images/page6/text3-1.png">
                    <img class="text3-2" src="assets/images/page6/text3-2.png">
                    <img class="text3-3" src="assets/images/page6/text3-3.png">
                    <img class="text3-4" src="assets/images/page6/text3-4.png">
                    <img class="text3-5" src="assets/images/page6/text3-5.png">
                    <img class="text3-6" src="assets/images/page6/text3-6.png">
                    <img class="text3-7" src="assets/images/page6/text3-7.png">
                </div>
                <div class="dialog-wrapper dialog4">
                    <img class="dialog-bg dialog4-bg" src="assets/images/page6/dialog4-bg.png">
                    <img class="text4-1" src="assets/images/page6/text4-1.png">
                    <img class="text4-2" src="assets/images/page6/text4-2.png">
                    <img class="text4-3" src="assets/images/page6/text4-3.png">
                    <img class="text4-4" src="assets/images/page6/text4-4.png">
                </div>
                <div class="dialog-wrapper dialog5">
                    <img class="dialog-bg dialog5-bg" src="assets/images/page6/dialog5-bg.png">
                    <img class="text5-1" src="assets/images/page6/text5-1.png">
                    <img class="text5-2" src="assets/images/page6/text5-2.png">
                    <img class="text5-3" src="assets/images/page6/text5-3.png">
                    <img class="text5-4" src="assets/images/page6/text5-4.png">
                    <img class="text5-5" src="assets/images/page6/text5-5.png">
                    <img class="text5-6" src="assets/images/page6/text5-6.png">
                    <img class="text5-7" src="assets/images/page6/text5-7.png">
                    <img class="text5-8" src="assets/images/page6/text5-8.png">
                    <img class="text5-9" src="assets/images/page6/text5-9.png">
                </div>
                <!-- 手 -->
                <img class="hand hand2" src="assets/images/page6/hand2-1.png">
            </div>
            <!-- 场景3 -->
            <div class="scene3">
                <!-- 日历 -->
                <img class="calendar" src="assets/images/page6/calendar.png">
                <!-- 狗子 -->
                <img class="dog dog3" src="assets/images/page6/dog8.png">
                <!-- 对话 -->
                <div class="dialog-wrapper dialog6">
                    <img class="dialog-bg dialog6-bg" src="assets/images/page6/dialog6-bg.png">
                    <img class="dialog dialog3" src="assets/images/page6/dialog6.png">
                    <img class="text6-1" src="assets/images/page6/text6-1.png">
                    <img class="text6-2" src="assets/images/page6/text6-2.png">
                    <img class="text6-3" src="assets/images/page6/text6-3.png">
                    <img class="text6-4" src="assets/images/page6/text6-4.png">
                    <img class="text6-5" src="assets/images/page6/text6-5.png">
                </div>
                <div class="dialog-wrapper dialog7">
                    <img class="dialog-bg dialog7-bg" src="assets/images/page6/dialog7-bg.png">
                    <img class="dialog dialog3" src="assets/images/page6/dialog7.png">
                    <img class="text7-1" src="assets/images/page6/text7-1.png">
                    <img class="text7-2" src="assets/images/page6/text7-2.png">
                    <img class="text7-3" src="assets/images/page6/text7-3.png">
                    <img class="text7-4" src="assets/images/page6/text7-4.png">
                    <img class="text7-5" src="assets/images/page6/text7-5.png">
                    <img class="text7-6" src="assets/images/page6/text7-6.png">
                    <img class="text7-7" src="assets/images/page6/text7-7.png">
                    <img class="text7-8" src="assets/images/page6/text7-8.png">
                </div>
                <!-- 手 -->
                <img class="hand hand3" src="assets/images/page6/hand3-1.png">
            </div>
            <!-- 跳过button -->
            <img class="skip" src="assets/images/arrow.png">
        </div>
    </div>
</div>