<div class="wrapper">
    <div class="ratio-fix">
        <div class="page4">
            <!-- 狗子 -->
            <img class="dog" src="assets/images/page4/dog1.png">
            <!-- 狗爪 -->
            <img class="paw" src="assets/images/page4/paw1.png">
            <!-- 对话 -->
            <img class="dialog" src="assets/images/page4/dialog.png">
            <!-- 跳过button -->
            <img class="skip" src="assets/images/arrow.png">
        </div>
    </div>
</div>