<div class="wrapper">
    <div class="ratio-fix">
        <div class="page1">
            <!-- 视频 -->
            <video src="assets/audio/page1/timeTunnel.mp4" id="video1" class="video-wrapper" x5-video-player-type="h5" webkit-playsinline="true" x-webkit-airplay="true" airplay="allow" playsinline="true"></video>
            <!-- 安卓 -->
            <img class="poster" src="assets/images/page1/poster.png">
            <div class="scene">
                <img class="final" src="assets/images/page1/final.png">
                <img class="play" src="assets/images/page1/play.png">
                <!-- 跳过button -->
                <img class="skip" src="assets/images/arrow.png">
            </div>
            <div class="modal">
                <!-- bg -->
                <video src="assets/audio/page1/episode1.mp4" id="video2" class="modal-video" x5-video-player-type="h5" webkit-playsinline="true" x-webkit-airplay="true" airplay="allow" playsinline="true" controls="controls" preload="preload" poster="assets/images/page1/modal-poster.png"></video>
                <img class="close" src="assets/images/page1/close.png">
            </div>
        </div>
    </div>
</div>