<div class="wrapper">
    <div class="ratio-fix">


        <div class="ren">
            <!-- <div class="Bg"></div> -->
            <!-- <img class="kaichangBtn" src="assets/images/yinpian1/kaichangBtn.png" alt=""> -->
            <!-- <img class="huodongxize" src="assets/images/ren/huodongxize.png" alt=""> -->

            <!-- <div class="divPic2"></div> -->
            <img class="divPic1" src="assets/images/ren/camera.png" alt="">
            <img class="divPic2" src="assets/images/ren/ok.png" alt="">
            <img class="next" src="assets/images/ren/next.png" alt="">
            <img class="renhua" src="assets/images/ren/renhua.png" alt="">
            <!-- first upload bg -->
            <!-- <img class="addPicFather" src="assets/images/yinpian3/addPIc.png" alt=""> -->
            <img class="blackPic2" alt="">
            <!-- first upload button -->
            <!-- <div class="reupload2"></div> -->
            <form class="form1Upload" enctype="multipart/form-data" method="post" name="">
                <!-- <input type="file" id="file" accept="image/*" multiple="" name="" capture="camera" /> -->
                <input type="file" id="file" accept="image/*" name="" />
            </form>
            <div style="position: absolute; width: 100%; height: 100%;top: 0%;">
                <div class="cav head1pic" id="gesture-area">

                    <div class="mm-container">
                        <div class="mm-container-div" style="width: 100%; height: 100%;"></div>
                    </div>
                    <img class="page2Bg" src="assets/images/ren/bg.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>