<div class="wrapper">
    <div class="ratio-fix">


        <div class="yinpian1">
            <!-- <div class="Bg"></div> -->
            <!-- <img class="kaichangBtn" src="assets/images/yinpian1/kaichangBtn.png" alt=""> -->
            <!-- <img class="huodongxize" src="assets/images/page1/huodongxize.png" alt=""> -->

            <!-- first upload button -->
            <div class="divPic1"></div>
            <div class="divPic2"></div>

            <!-- first upload bg -->
            <img class="showtext" src="assets/images/showtext.png" alt="">
            <img class="addPic" src="assets/images/yinpian1/guangbiao.gif" alt="">
            <img class="addPicFather" src="assets/images/yinpian1/guangbiao.gif" alt="">
            <img class="create" src="assets/images/yinpian1/create.png" alt="">
            <img class="again" src="assets/images/yinpian1/again.png" alt="">
            <!-- <img class="coverhead" src="assets/images/yinpian1/again.png" alt=""> -->
            <!-- <img class="blackPic" alt="">
            <img class="blackPic2" alt=""> -->

            <!-- first upload button -->
            <div class="reupload1"></div>
            <div class="reupload2"></div>
            <img class="loadgif" src="assets/images/load.gif">
            <form class="form1Upload" enctype="multipart/form-data" method="post" name="">
                <input type="file" id="file" class="upload" accept="image/*" multiple="" name="" capture="camera" />
            </form>


            <div style="position: absolute; width: 100%; height: 100%;">
                <div class="cav head1pic" id="gesture-area">

                    <div class="mm-container">
                        <div class="mm-container-div" style="width: 100%; height: 100%;"></div>
                    </div>
                    <div class="bb-container">
                        <div class="bb-container-div" style="width: 100%; height: 100%;"></div>
                    </div>
                    <div class="ne-container">
                        <div class="ne-container-div" style="width: 100%; height: 100%;"></div>
                    </div>
                    <!-- <div class="page2Bg">
                       
                    </div> -->
                    <img class="page2Bg" src="assets/images/yinpian1/page2Bg.png" alt="">





                </div>
            </div>


        </div>




    </div>
</div>