<div class="wrapper" id="wrapper">
    <div class="ratio-fix">
        <!--首页-->
        <div class="yinpian2">
            <img class="bg" src="assets/images/yinpian2/sc_1.png" alt="">
            <img class="qcode" src="assets/images/yinpian2/qrcode.png" alt="">
            <!-- 人脸 -->
            <div class="bb">
                <img src="./assets/images/yaogun/ygBB.png" alt="">
            </div>
            <div class="mm">
                <img src="./assets/images/yaogun/ygMM.png" alt="">
            </div>
            <!-- 页面动画 -->


            <!-- <img class="logo" src="assets/images/share.jpg" alt="">
            <!-- <div class="tishi"></div> -->

            <!-- <img class="qrcode" src="assets/images/share.jpg" alt="">

 -->

        </div>
    </div>
</div>
<div class="wrapper1"></div>
<img class="again" src="assets/images/yinpian2/again.png" alt="">
<img class="showtime" src="assets/images/yinpian2/showtime.png" alt="">
<!-- <img class="baocun" src="assets/images/yinpian2/baocun.png" alt=""> -->
<img class="loadgif" src="assets/images/load.gif">
<!-- <div class="bt1"><img src="assets/images/ending/bt1.png" alt=""></div>
<div class="bt2"><img src="assets/images/ending/bt2.png" alt=""></div>
<!-- 活动细则 -->
<!-- <img class="text" src="assets/images/ending/text.png" alt="">
<div class="tishi1"></div>
<img class="to_share" src="assets/images/ending/to_share.png" alt=""> -->