@import "../base/page";

.page-end {

    .base-page;

    // background:url(../images/bg.png) no-repeat center;
    background-size:cover;
    img {
        width: 100%;
        position: absolute;
    }
    .wrapper {
        /*overflow: hidden;*/
    }
    .home div{background-size:100% 100%;position: absolute;}
    .bg, .dog, .dialog, .photo {
        top: 0;
        left: 0;
    }
    .button {
        top: 80%;
        left: 0;
    }
    .dialog, .scene2, .button, .dog2 {
        opacity: 0;
    }
    .eyes {
        top: 38.2%;
        left: 0;
    }
}

