@import "../base/page";

.page-gou {
  // background: url(../images/page4/page4Bg.png) no-repeat;
  background-size: cover;
  .base-page;

  .wrapper{


  }
  .page2Bg{
    position: absolute;width: 100%;
    z-index: 999;
    /*opacity: 0.5;*/
  }
  .bg{
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
  .loaddiv{
    width: 100%;
    height: 150%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 10000;
    display: none;
  }
  .loadgif{
    width: 20%;
    top: 34%;
    left: 40%;
    display: none;
    z-index: 10000;
    position: absolute;
  } 
.swiper-button-prev, .swiper-button-next{
  top:58%;
  z-index:1000; 
}
.swiper-button-next{
  background-image: url("../images/gou/right.png");
  background-size: contain;
  width: 5%;
}
.swiper-button-prev{
  background-image: url("../images/gou/left.png");
  background-size: contain;
  width: 5%;
} 
.swiper-container {
  position: absolute;
  width: 80%; 
  left: 10%;
  z-index: 9999;
  top: 54%;
} 
.swiper-slide {
  text-align: center;
  font-size: 18px; 
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide-img{
  width: 70%;
} 
  .huodongxize{
    position: absolute; 
    width: 18%; 
    // height: 21%;
    top: 94%;
    left:39.5%;
    z-index: 101; 
  } 
  .head2{
    position: absolute;
    top:50%;
    width: 30%;
    left: 60%; 
  } 
  .head1upPic{
    position: absolute; 
    z-index: 100;
    background-color: green;
    top: ~`top_p(630)`;
    left:~`left_p(125)`;
    width: ~`width_p(81)`; 
    background:url(../images/yinpian1/add.png); 
  }
  .close{
    display: none;
    position: absolute;
    width: 14%;
    color: #fff;
    top: 0;
    line-height: 0;
    margin-left: -10%;
    margin-top: -7%;
    height: 0; 
  }
  .zhuan{
    display: none;
    position: absolute;
    width: 19%;
    margin-top: -9%;
    left: -9%;
  }
  #cav_hua{ 
  }
  .cav{
    width: 100%;
    top: 0%;
    left:0%;
    height:100%;
    position: absolute;

  }
  .head2pic{
    position: absolute;
    width: 10%;
    height: 10%; 
    top: 60%;
    left: 40%;
  } 
  .father-pic{
    width: ~`width_p(155)`;
    // 145/750
    top: ~`top_p(504)`;
    //722*0.22
    height: ~`height_p(175)`;
    left:~`left_p(440)`;
    position: absolute;
  } 
  .headBorderDiv1{
    background-color: red;
    width: 33%;
    height: 23%;
    position: absolute;
    top: 40%;
    left: 9%;
    z-index: 100;
  } 
.upload{
  position: absolute;
  width: 45%;
}

.form2Upload{
  position: absolute;
  top: 38%;
  left:65%;
  width: 10%;
  z-index: 102;
  opacity: 0;
}  

  // #cav_hua{
  //   position: absolute;
  //   width: 80%;
  //   height: 45.5%;
  //   left: 10%;
  //   overflow: hidden;
  // }
  .box-btn{
   position: absolute;
   width: 30%;
   top: 72%;
   height: 10%;
   background: red;
   left: 30%;
  }
  .youtu{
   position: absolute;
   width: 20%;
   background: blue;
   top: 88%;
   left: 71%;
  }
  .fatherHead{
    position: absolute;
    width: ~`width_p(167)`;
    top: ~`top_p(364)`;
    // height: ~`height_p(113)`;
    left:~`left_p(440)`;
    z-index: 1;
  } 
  .father{
    position: absolute;
    width: 100%;
    height: 100%;
    // width: ~`width_p(145)`;
    // top: ~`top_p(364)`;
    // height: ~`height_p(160)`;
    // left:~`left_p(440)`;
  } 
  .blackPic{
    position: absolute;
    width: 21%;
    height: 15%;
    top: 41%;
    left: 25%;
    background-color: white;
    z-index: 1;
  }
  .addPic{
    position: absolute;
    width: 5%;
    // height: 20%;
    top: 49%;
    left: 35%;  
    z-index: 2;
  }  
  .addPicFather{
    position: absolute;
    width: 5%;
    top: 33%;
    left: 13.5%;
    z-index: 2;
      }  
  .matherHead{
    position: absolute;
    width: ~`width_p(235)`;
    top: ~`top_p(364)`;
    // height: ~`height_p(113)`;
    left:~`left_p(140)`;
    z-index: 1;
  }  
  .divPic2{
    position: absolute;
    width: 50%;
    /* height: 18%; */
    top: 66%;
    right: 0%;
    z-index:9999; 
    // background-color: blue;
  } 
  .divPic1{
    position: absolute;
    width: 50%;
    /* height: 18%; */
    top: 66%;
    left: 0%;
    z-index: 9999; 
    // background-color: blue;
  } 
  .next{
    position: absolute;
    width: 13.5%;
    /* height: 18%; */
    top: 2%;
    right: 1%;
    z-index: 9999; 
    // background-color: blue;
  }
   
  #te_draggable2 {
    display: none;
  }
  #te_draggable3 {
    display: none;
  }
  #te_draggable{
    display: none;
  }
 

  .bb-container { 
    position: absolute;
    width: 100%;
    height: 64%;
    overflow: hidden;
    top: 6%;
    left: 0%;
    z-index: 999;
    // transform: scale(1.1);
  } 
   .gouhua{
     width: 100%;
     position: absolute;
     top: 62.5%;
     z-index: 9999;
   }
  .return_bt{
    position: absolute;
    width: ~`width_p(137)`;
    height: ~`height_p(66)`;
    top: 3.5%;
    left: 6%;
    z-index: 101;
  }
  #file{
    opacity: 0;
  }
  #file2{
    opacity: 0;
  } 


}
