@import "../base/page";

.page-haibao {

  background-size: cover;
  .base-page;
  img {
    width: 100%;
    // height: 100%;
    position: absolute;
  }

  .wrapper {

  }
  .bt1 {
    position: absolute;
    width: ~`width_p(326)`;
    height: ~`height_p(443)`;
    top: 23%;
    left: 8%;
  }
  .bt2 {
    position: absolute;
    width: ~`width_p(326)`;
    height: ~`height_p(443)`;
    top: 23%;
    left: 51%;
  }
  .bt3 {
    position: absolute;
    width: ~`width_p(326)`;
    height: ~`height_p(443)`;
    top: 60%;
    left: 8%;
  }
  .bt4 {
    position: absolute;
    width: ~`width_p(326)`;
    height: ~`height_p(443)`;
    top: 60%;
    left: 51%;
  }
  .P {
    position: absolute;
    width: ~`width_p(335)`;
    height: ~`height_p(346)`;
    right: -20%;
    top: 7%;
    transform: rotate(54deg);
    transform-origin: bottom;
  }
  .Bg{
    position: absolute;
    width: 100%;
    height: 200%;
    background-color: #3690c3;
  }


  .dosing_swiper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;

    z-index: 2;
    overflow:visible;
  }
  .swiper-slide{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    float: left;
  }
  .swiper-slide img{
   
    width: 100%;
    // height: 75%;
   
  }
  .swiper-slide{
    position: relative;
    width: 100%; 
    top: 0%;
    left: 0%;
    float: left;
  }
  .swiper-slide img{
    
    width: 100%; 

  }
  .swiper-slide{
    position: relative;
    width: 100%; 
    top: 0%;
    left: 0%;
    float: left;
  }
  .swiper-slide img{
    width: 100%;
    // height: 100%;
  
  }
  .dosing_swiper_4{
    position: relative;
    width: 100%; 
    top: 0%;
    left: 0%;
    float: left;
  }
  .dosing_swiper_4 img{
    width: 100%; 
  }
  .swiper-container {
    width: 100%;
    // height: 80%;
    left: 0%
  }
  .bt{
    width: 50%;
    height: 10%;
    position: absolute;
    left: 25%;
    top: 82%;
    z-index: 999;
  }
  .swip{
    width: 70%;
    // height: 10%;
    position: absolute;
    left: 15%;
    top: 28%;
    z-index: 999;
  }



  .swiper-button-next {

    background-image:url('../images/haibao/right.png');

    right: 3px;

    top: 40%;

  }

  .swiper-button-prev {

    background-image:url('../images/haibao/left.png');

    left: 3px;

    top: 40%;

  }

  .swiper-container-horizontal > .swiper-pagination-bullets {

    bottom: 80px;

  }


  .swiper-pagination-bullet {

    opacity: 1;


  }

  .swiper-pagination-bullet {

    background: #fff;
  }

  .swiper-pagination-bullet-active {

    background: #2965a5;
  }






}