@import "../base/page";

.page-home {

    .base-page;

    background-size:cover;
    .home div {
        background-size:100% 100%;
        position: absolute;
    }
    img {
        width: 100%;
        position: absolute;
    }
    .wrapper {
        width: 100%;
        height: auto;
    }
    .logo, .dialog {
        top: 0;
        left: 0;
    }
    .shadow, .dog {
        top: 36.6%;
        left: 0;
    }
    .dialog {
        opacity: 0;
    }
}

