@import "../base/page";

.page-page4 {

    .base-page;

    // background:url(../images/bg.png) no-repeat center;
    background-size:cover;

    img {
        width: 100%;
        position:absolute;
    }
    .wrapper {
        width: 100%;
        height: auto;
    }
    .dog, .paw, .dialog {
        top: 0;
        left: 0;
    }
    .dialog {
        opacity: 0;
    }
}

