@import "../base/page";

.page-page6 {

    .base-page;

    // background:url(../images/bg.png) no-repeat center;
    background-size:cover;
    img {
        width: 100%;
        position: absolute;
    }
    .wrapper {
        width: 100%;
        height: auto;
    }
    .bg, .dialog, .calendar {
        top: 0;
        left: 0;
    }
    .dog, .tail {
        bottom: 0;
        left: 0;
    }
    .hand {
        width: 40%;
        top: 29%;
        right: 0;
    }
    .saliva, .paw, .heart {
        left: 0;
    }
    .saliva {
        top: 47.5%;
    }
    .paw {
        top: 50.4%;
    }
    .heart {
        top: 35.8%;
    }
    .dialog {
        opacity: 0;
    }
    .scene2, .scene3 {
        opacity: 0;
    }
    .eyes {
        top: 36.4%;
        left: 0;
    }
    .dialog-wrapper {
        opacity: 0;
    }
    .dialog-bg {
        top: 0;
        left: 0;
    }
    .text1-1 {
        width: 12%;
        top: 13.8%;
        left: 21.6%;
    }
    .text1-2 {
        width: 7.4%;
        top: 21.8%;
        left: 36.4%;
    }
    .text1-3 {
        width: 8.6%;
        top: 21%;
        left: 44.2%;
    }
    .text1-4 {
        width: 11.4%;
        top: 16.6%;
        left: 59.2%;
    }
    .text1-5 {
        width: 13.2%;
        top: 15%;
        left: 70.6%;
    }
    .text2-1 {
        width: 11.2%;
        top: 10%;
        left: 27.8%;
    }
    .text2-2 {
        width: 9.2%;
        top: 7%;
        left: 62.4%;
    }
    .text2-3 {
        width: 8.6%;
        top: 16%;
        left: 25.8%;
    }
    .text2-4 {
        width: 9.4%;
        top: 16.5%;
        left: 35.8%;
    }
    .text2-5 {
        width: 8.8%;
        top: 23%;
        left: 38.8%;
    }
    .text2-6 {
        width: 12.2%;
        top: 20.8%;
        left: 48.2%;
    }
    .text3-1 {
        width: 12%;
        top: 10.2%;
        left: 25.6%;
    }
    .text3-2 {
        width: 8%;
        top: 21.8%;
        left: 18.6%;
    }
    .text3-3 {
        width: 8%;
        top: 21.2%;
        left: 27.6%;
    }
    .text3-4 {
        width: 10%;
        top: 18.2%;
        left: 35.6%;
    }
    .text3-5 {
        width: 10%;
        top: 17.6%;
        left: 45.6%;
    }
    .text3-6 {
        width: 9%;
        top: 16.6%;
        left: 65.6%;
    }
    .text3-7 {
        width: 14%;
        top: 15%;
        left: 74.6%;
    }
    .text4-1 {
        width: 10.6%;
        top: 17%;
        left: 11.4%;
    }
    .text4-2 {
        width: 7.8%;
        top: 16.8%;
        left: 23.2%;
    }
    .text4-3 {
        width: 11%;
        top: 16.2%;
        left: 32%;
    }
    .text4-4 {
        width: 10%;
        top: 15%;
        left: 43.4%;
    }
    .text5-1 {
        width: 11%;
        top: 16.2%;
        left: 7.4%;
    }
    .text5-2 {
        width: 10.4%;
        top: 14.8%;
        left: 18.2%;
    }
    .text5-3 {
        width: 9.4%;
        top: 13.6%;
        left: 27.4%;
    }
    .text5-4 {
        width: 8.2%;
        top: 22.6%;
        left: 14.2%;
    }
    .text5-5 {
        width: 6.6%;
        top: 21.6%;
        left: 23.4%;
    }
    .text5-6 {
        width: 9.6%;
        top: 21.8%;
        left: 30.4%;
    }
    .text5-7 {
        width: 6.6%;
        top: 20.8%;
        left: 40.6%;
    }
    .text5-8 {
        width: 9.8%;
        top: 20.4%;
        left: 47.4%;
    }
    .text5-9 {
        width: 6.6%;
        top: 19.6%;
        left: 57.8%;
    }
    .text6-1 {
        width: 11.4%;
        top: 12.2%;
        left: 13.4%;
    }
    .text6-2 {
        width: 9.6%;
        top: 22.6%;
        left: 15.8%;
    }
    .text6-3 {
        width: 7%;
        top: 19.8%;
        left: 27.4%;
    }
    .text6-4 {
        width: 9.6%;
        top: 21.6%;
        left: 34.8%;
    }
    .text6-5 {
        width: 11.4%;
        top: 18.6%;
        left: 44.6%;
    }
    .text7-1 {
        width: 10.8%;
        top: 12%;
        left: 9%;
    }
    .text7-2 {
        width: 14.2%;
        top: 11%;
        left: 20%;
    }
    .text7-3 {
        width: 12.4%;
        top: 11%;
        left: 31.2%;
    }
    .text7-4 {
        width: 15%;
        top: 8.8%;
        left: 43.4%;
    }
    .text7-5 {
        width: 9%;
        top: 20.2%;
        left: 16.8%;
    }
    .text7-6 {
        width: 9%;
        top: 19.2%;
        left: 26.4%;
    }
    .text7-7 {
        width: 10.2%;
        top: 16%;
        left: 56.2%;
    }
    .text7-8 {
        width: 12%;
        top: 17%;
        left: 68%;
    }
}

