@import "../base/page";

.page-page1 {

    .base-page;

    background-size:cover;
    .home div {
        background-size:100% 100%;
        position: absolute;
    }
    img {
        width: 100%;
        position:absolute;
    }
    .wrapper {
        /*overflow: hidden;*/
    }
    .video-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
    }
    .poster {
        top: 0;
    }
    .poster, .scene {
        display: none;
    }
    .play {
        width: 60%;
        top: 4%;
        right: 3%;
    }
    .modal {
        display: none;
        position: absolute;
        width: 100%;
        height: 125%;
        background: rgba(0, 0, 0, .4);
        video {
            border: 4px solid black;
        }
        .close {
            width: 14%;
            top: 4.6%;
            right: 3%;
        }
    }
    .modal-video {
        margin: 16% 12% 0;
        width: 76%;
    }
}

