@import "../base/page";

.page-page3 {

    .base-page;

    // background:url(../images/bg.png) no-repeat center;
    background-size:cover;
    .home div {
        background-size:100% 100%;
        position: absolute;
    }
    img {
        width: 100%;
        position:absolute;
    }
    .wrapper {
    /*overflow: hidden;*/
    }
    .shadow, .light, .circle, .scene1, .scene2 {
        top: 0;
        right: 0;
    }
    .scene1 {
    }
    .scene2 {
        opacity: 0;
    }
}

