@import "../base/page";

.page-page2 {

    .base-page;

    // background:url(../images/bg.png) no-repeat center;
    background-size:cover;
    .home div {
        background-size:100% 100%;
        position: absolute;
    }
    img {
        width: 100%;
        position:absolute;
    }
    .wrapper {
        /*overflow: hidden;*/
    }
    .bg-dog {
        bottom: -24.6%;
        left: 0;
    }
    .bg, .bubble, .dog, .close-up {
        top: 0;
        left: 0;
    }
    .door {
        width: auto;
        height: 100%;
        top: 0;
        right: 0;
    }
    .bubble  {
        left: 0;
    }
    .dialog {
        top: 32.6%;
    }
    .thinking, .dialog {
        opacity: 0;
    }
    .close-up {
        display: none;
    }
}

