@import "../base/page";

.page-page5 {

    .base-page;

    // background:url(../images/bg.png) no-repeat center;
    background-size:cover;
    img {
        width: 100%;
        position: absolute;
    }
    .wrapper {
        width: 100%;
        height: auto;
    }
    .girl {
        width: 56%;
    }
    .dialog {
        top: 0;
        left: 0;
        opacity: 0;
    }
    .hand {
        top: 25.2%;
        left: 0;
    }
    .circle, .light {
        left: 0;
    }
    .circle {
        top: 14.8%;
    }
    .circle2 {
        opacity: 0;
    }
    .light {
        top: 14.2%;
    }
}

