@import "../base/page";

.page-ren {
  // background: url(../images/page4/page4Bg.png) no-repeat;
  background-size: cover;
  .base-page;

  .wrapper{


  }
  .page2Bg{
    position: absolute;width: 100%;
    z-index: 100;
    /*opacity: 0.5;*/
  }
   
  .huodongxize{
    position: absolute; 
    width: 18%; 
    // height: 21%;
    top: 94%;
    left:39.5%;
    z-index: 101; 
  } 
 
  .head2{
    position: absolute;
    top:50%;
    width: 30%;
    left: 60%;
    background-color:blue;
  } 
  .head1upPic{
    position: absolute; 
    z-index: 100;
    background-color: green;
    top: ~`top_p(630)`;
    left:~`left_p(125)`;
    width: ~`width_p(81)`; 
    background:url(../images/yinpian1/add.png); 
  }
  .close{
    display: none;
    position: absolute;
    width: 14%;
    color: #fff;
    top: 0;
    line-height: 0;
    margin-left: -10%;
    margin-top: -7%;
    height: 0; 
  }
  .zhuan{
    display: none;
    position: absolute;
    width: 19%;
    margin-top: -9%;
    left: -9%;
  }
  #cav_hua{

    /*
    width: 100%;
    top: 0;
    left:0;
    height:100%;
    position: absolute;

    overflow: hidden;
    z-index: 101;
    */

  }
  .cav{
    width: 100%;
    top: 0%;
    left:0%;
    height:100%;
    position: absolute;

  }
  .head2pic{
    position: absolute;
    width: 10%;
    height: 10%;
    background-color: blue;
    top: 60%;
    left: 40%;
  } 
  .father-pic{
    width: ~`width_p(155)`;
    // 145/750
    top: ~`top_p(504)`;
    //722*0.22
    height: ~`height_p(175)`;
    left:~`left_p(440)`;
    position: absolute;
  } 
  .headBorderDiv1{
    background-color: red;
    width: 33%;
    height: 23%;
    position: absolute;
    top: 40%;
    left: 9%;
    z-index: 100;
  } 
.upload{
  position: absolute;
  width: 45%;
}

.form2Upload{
  position: absolute;
  top: 38%;
  left:65%;
  width: 10%;
  z-index: 102;
  opacity: 0;
}  

  // #cav_hua{
  //   position: absolute;
  //   width: 80%;
  //   height: 45.5%;
  //   left: 10%;
  //   overflow: hidden;
  // }
  .box-btn{
   position: absolute;
   width: 30%;
   top: 72%;
   height: 10%;
   background: red;
   left: 30%;
  }
  .youtu{
   position: absolute;
   width: 20%;
   background: blue;
   top: 88%;
   left: 71%;
  }
  .fatherHead{
    position: absolute;
    width: ~`width_p(167)`;
    top: ~`top_p(364)`;
    // height: ~`height_p(113)`;
    left:~`left_p(440)`;
    z-index: 1;
  } 
  .father{
    position: absolute;
    width: 100%;
    height: 100%;
    // width: ~`width_p(145)`;
    // top: ~`top_p(364)`;
    // height: ~`height_p(160)`;
    // left:~`left_p(440)`;
  } 
  .blackPic{
    position: absolute;
    width: 21%;
    height: 15%;
    top: 41%;
    left: 25%;
    background-color: white;
    z-index: 1;
  }
  .addPic{
    position: absolute;
    width: 5%;
    // height: 20%;
    top: 49%;
    left: 35%;  
    z-index: 2;
  }  
  .addPicFather{
    position: absolute;
    width: 5%;
    top: 33%;
    left: 13.5%;
    z-index: 2;
      }  
  .matherHead{
    position: absolute;
    width: ~`width_p(235)`;
    top: ~`top_p(364)`;
    // height: ~`height_p(113)`;
    left:~`left_p(140)`;
    z-index: 1;
  }  
  .divPic2{
    position: absolute;
    width: 50%;
    /* height: 18%; */
    top: 66%;
    right: 0; 
    z-index: 101; 
    // background-color: blue;
  } 
  .divPic1{
    position: absolute;
    width: 50%;
    /* height: 18%; */
    top: 66%;
    left: 0%;
    z-index: 101; 
    // background-color: blue;
  } 
  .next{
    position: absolute;
    width: 13.5%;
    /* height: 18%; */
    top: 2%;
    right: 1%;
    z-index: 101; 
    // background-color: blue;
  }
  .renhua{
    width: 100%;
    position: absolute;
    top: 61.5%;
    z-index: 101;
  }
   
  #te_draggable2 {
    display: none;
  }
  #te_draggable3 {
    display: none;
  }
  #te_draggable{
    display: none;
  }
 

  .mm-container { 
    position: absolute;
    width: 45%;
    height: 29%;
    overflow: hidden;
    top: 13.9%;
    left: 28%;
    /* border-radius: 95%; */
    transform: scale(1.1);
  } 
   
  .return_bt{
    position: absolute;
    width: ~`width_p(137)`;
    height: ~`height_p(66)`;
    top: 3.5%;
    left: 6%;
    z-index: 101;
  }
  #file{
    opacity: 0;
  }
  #file2{
    opacity: 0;
  } 


}
