@import "../base/page";

.page-yinpian2 {

.base-page;

// background:url(../images/bg.png) no-repeat center;
background-size:cover;


.wrapper {
  /*overflow: hidden;*/
  }
.ending div{background-size:100% 100%;position: absolute;}

  img {
       width: 100%;
      //  height:100%;
       position:absolute;
     }
     .again{
       position: absolute;
       width: 50%;
       left: 25%;
       bottom: 4.5%;
       z-index: 9999;
     }
     .baocun{
      // position: absolute;
      // width: 100%;
      // left: 0;
      // top: 40%;
      // z-index: 100;
    }
    .qcode{
      width: 100%;
      top: 69%;
      left: 0;
      z-index: 1;
    }
     .showtime{
      position: absolute;
      width: 100%;
      right: 0;
      bottom: 14.5%;
      z-index: 100;
    }
    .loadgif{
      width: 20%;
      top: 34%;
      left: 40%;
      display: none;
      z-index: 10000;
      position: absolute;
    } 
  .bg{
    width: 100%;
    top: 0;
    left: 0;
    height: auto;
  }
  .bt1{
    position: absolute;
    width: 66%;
    height: 10%;
    left: 17%;
    top: 74%;
    
    
  }

  .bt2{
    position: absolute;
    width: 66%;
    height: 10%;
    left: 17%;
    top: 84%;
    
    
  }
  .text{
    width:~`width_p(116)`;
	  height:~`height_p(32)`;
	  top:~`top_p(1140)`;
	  left:~`left_p(314)`;
  }
  .mm{
    position: absolute;
    width:~`width_p(160)`;
    // height: ~`height_p(160)`;

  }
  
  .bb {
   position: absolute;
   width: ~`width_p(160)`;
   height: ~`height_p(160)`;

 }
 .ne {
   position: absolute;
   width: ~`width_p(160)`;
   height: ~`height_p(160)`;

 }
.logo{
  width: ~`width_p(116)`;
  height: ~`height_p(112)`;
  top: 1%;
  left: 2%;
}
.tishi{
  width: 100%;
  height: 200%;
  background-color: black;
  opacity: 0.7;
}
.tishi1{
  width: 100%;
  height: 200%;
  background-color: black;
  opacity: 0.7;
  display: none;
}
.tishi_bg{
  position: absolute;
  width: ~`width_p(493)`;
  height: ~`height_p(493)`;
  top: 24%;
  left: 18%;
}
.to_share{
  position: absolute;
  width: 71%;
  height: ~`height_p(964)`;
  top: 0%;
  right: 0%;
  display: none;
}
.wrapper1{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 999;
}
}

