@import "../base/page";

.page-yinpian1 {
  // background: url(../images/page4/page4Bg.png) no-repeat;
  background-size: cover;
  .base-page;

  .wrapper{


  }
  .page2Bg{
    position: absolute;width: 100%;
    z-index: 100;
    // height: 100%;
    /*opacity: 0.5;*/
  }
  .page2Bg img{
    position: absolute;width: 100%;
    z-index: 100;
    
    /*opacity: 0.5;*/
  }
  .kaichangBtn{
    position: absolute; 
    width: ~`width_p(381)`; 
    height: ~`height_p(103)`;
    top: 88.5%;
    left: 24%;
    z-index: 101; 
  }
  .huodongxize{
    position: absolute; 
    width: 18%; 
    // height: 21%;
    top: 94%;
    left:39.5%;
    z-index: 101; 
  }
  .head1{
    position: absolute;
    top:50%;
    width: 30%;
    left: 10%;
    // background-color: red;
  }
  .head2{
    position: absolute;
    top:50%;
    width: 30%;
    left: 60%; 
  }
  .head3{
    position: absolute;
    top:70%;
    width: 30%;
    left: 40%;
    background-color: greenyellow;
  }
  .head1upPic{
    position: absolute; 
    z-index: 100;
    background-color: green;
    top: ~`top_p(630)`;
    left:~`left_p(125)`;
    width: ~`width_p(81)`; 
    background:url(../images/yinpian1/add.png); 
  }
  .close{
    display: none;
    position: absolute;
    width: 14%;
    color: #fff;
    top: 0;
    line-height: 0;
    margin-left: -10%;
    margin-top: -7%;
    height: 0; 
  }
  .zhuan{
    display: none;
    position: absolute;
    width: 19%;
    margin-top: -9%;
    left: -9%;
  }
  #cav_hua{

    /*
    width: 100%;
    top: 0;
    left:0;
    height:100%;
    position: absolute;

    overflow: hidden;
    z-index: 101;
    */

  }
  .cav{
    width: 100%;
    top: 0%;
    left:0%;
    height:100%;
    position: absolute;

  }
  .head2pic{
    position: absolute;
    width: 10%;
    height: 10%; 
    top: 60%;
    left: 40%;
  }
  .head3pic{
    position: absolute;
    width: 10%;
    height: 10%;
    background-color: orange;
    top: 80%;
    left: 60%;
  }
  .father-pic{
    width: ~`width_p(155)`;
    // 145/750
    top: ~`top_p(504)`;
    //722*0.22
    height: ~`height_p(175)`;
    left:~`left_p(440)`;
    position: absolute;
  }
  .me-pic{
    width: ~`width_p(155)`;
    // 145/750
    top: ~`top_p(624)`;
    //722*0.22
    height: ~`height_p(175)`;
    left:~`left_p(310)`;
    position: absolute;
    overflow: hidden;
  }
  .headBorderDiv1{
    background-color: red;
    width: 33%;
    height: 23%;
    position: absolute;
    top: 40%;
    left: 9%;
    z-index: 100;
  }

.form1Upload{
  position: absolute;
  top: 43%;
  left:29%;
  width: 10%;
  z-index: 102;
  opacity: 0;
}
.upload{
  position: absolute;
  width: 45%;
}

.form2Upload{
  position: absolute;
  top: 38%;
  left:65%;
  width: 10%;
  z-index: 102;
  opacity: 0;
}
.upload{
  position: absolute;
  width: 45%;
}

.form3Upload{
  position: absolute;
  top: 59%;
  left:50%;
  width: 10%;
  z-index: 102;
  opacity: 0;
}
.upload{
  position: absolute;
  width: 45%;
}

  // #cav_hua{
  //   position: absolute;
  //   width: 80%;
  //   height: 45.5%;
  //   left: 10%;
  //   overflow: hidden;
  // }
  .box-btn{
   position: absolute;
   width: 30%;
   top: 72%;
   height: 10%;
   background: red;
   left: 30%;
  }
  .youtu{
   position: absolute;
   width: 20%;
   background: blue;
   top: 88%;
   left: 71%;
  }
  .fatherHead{
    position: absolute;
    width: ~`width_p(167)`;
    top: ~`top_p(364)`;
    // height: ~`height_p(113)`;
    left:~`left_p(440)`;
    z-index: 1;
  } 
  .father{
    position: absolute;
    width: 100%;
    height: 100%;
    // width: ~`width_p(145)`;
    // top: ~`top_p(364)`;
    // height: ~`height_p(160)`;
    // left:~`left_p(440)`;
  }
  .mather{
    position: absolute;
    width: 100%;
    height: 100%;
    // width: ~`width_p(145)`;
    // top: ~`top_p(364)`;
    // height: ~`height_p(160)`;
    // left:~`left_p(440)`;
  }
  .blackPic{
    position: absolute;
    width: 16%;
    height: 11%;
    top: 35%;
    left: 77%;
    background-color: white;
    z-index: 1;
  }
  .addPic{
    position: absolute;
    width: 25%;
    top: 38.6%;
    left: 75%;
    z-index: 1000;
    // height: 20%;
  } 
    .showtext{
      position: absolute;
    width: 100%;
    top: 38.6%;
    left: 0%;
    z-index: 9999;
    // display: none;
    // opacity: 0;
    }
  .blackPic2{
    position: absolute;
    width: 23%;
    height: 14%;
    top: 34%;
    left: 4%;
    background-color: white;
    z-index: 1;
  }
  .addPicFather{
    position: absolute;
    width: 25%;
    top: 40%;
    left: 6%;
    z-index: 1000;

      } 
  .blackPic3{
    position: absolute;
    width: 24%;
    height: 17%;
    top: 25%;
    left: 32%;
    background-color: white;
    z-index: 1;
  }
  .addPicMe{
    position: absolute;
    width: 5%;
    top: 33%;
    left: 40.5%;
    z-index:2;
  } 
  .create{
    position: absolute;
    width: 50%;
    bottom: 7%;
    left: 0%;
    z-index:1000;
  } 
  .again{
    position: absolute;
    width: 50%;
    bottom: 7%;
    right: 0%;
    z-index:1000;
  } 
  .matherHead{
    position: absolute;
    width: ~`width_p(235)`;
    top: ~`top_p(364)`;
    // height: ~`height_p(113)`;
    left:~`left_p(140)`;
    z-index: 1;
  } 
  .divPic1{
    
    position: absolute;
    width: 20%;
    height: 17%;
    top: 31%;
    left: 66%;
    border-radius: 33px;
    z-index: 101;
    opacity: 0.5; 
  }
  .divPic2{ 
    position: absolute;
    width: 23%;
    height: 21%;
    top: 19%;
    left: 30%;
    z-index: 101; 
    opacity: 0.5;
    border-radius: 40px;
} 
  .divPic3{
    position: absolute;
    width: 24%;
    height: 17%;
    top: 25%;
    left: 32%;
    z-index: 101;
    opacity: 0.5;
    // background-color: green;
  }
  .coverhead{
    position: absolute;
    width: 30%;
    top: 20%;
    left: 15%;
    z-index:1000;
  }
 
 
    
  .meHead{
    position: absolute;
    width: ~`width_p(227)`;
    top: ~`top_p(664)`;
    // height: ~`height_p(113)`;
    left:~`left_p(260)`;
    z-index: 1;
  }
  #te_draggable2 {
    display: none;
  }
  #te_draggable3 {
    display: none;
  }
  #te_draggable{
    display: none;
  }

  .mm-container {
    position: absolute;
    width: 19%;
    height: 14%;
    top: 44%;
    left: 52%;
   
  }

  .bb-container { 
    position: absolute;
    overflow: hidden;
    width: 21%;
    height: 19%;
    top: 44%;
    left: 18%;
    z-index: 999;
  }
.loadgif{
  width: 20%;
  top: 34%;
  left: 40%;
  display: none;
  z-index: 10000;
  position: absolute;
}
  .ne-container { 
    // position: absolute;
    // overflow: hidden;
    // width: 25%;
    // height: 17%;
    // top: 25%;
    // left: 32%;
  }




  .reupload1 {

    position: absolute;
    width: 8%;
    height: 4.96%;
    top: 44%;
    left: 91%;

    z-index: 101;

    // background-color: black;
    background-image: url(../images/yinpian1/guangbiao.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    background-position: center;

    border-radius: 60%;


  }

  .reupload2 {

    position: absolute;
    width: 8%;
    height: 4.96%;
    top: 45%;
    left: 21%;

    z-index: 101;

    // background-color: black;
    background-image: url(../images/yinpian1/guangbiao.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    background-position: center;

    border-radius: 60%;


  }

  .reupload3 {

    position: absolute;
    width: 8%;
    height: 4.96%;

    top: 38%;
    left: 54%;

    z-index: 101;

    background-color: black;
    background-image: url(../images/yinpian3/addPIc.png);
    background-repeat: no-repeat;
    background-size: 60% 60%;

    background-position: center;

    border-radius: 60%;


  }

  .return_bt{
    position: absolute;
    width: ~`width_p(137)`;
    height: ~`height_p(66)`;
    top: 3.5%;
    left: 6%;
    z-index: 101;
  }


}
